<div class="row" style="background-color: rgb(87, 87, 124);margin: 25px;" >
    <div class="coloumn">
        <button (click)="beast1()">
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="./assets/songs.images/beast1.jpg" alt="Card image cap" style="height: 172px;">
    <div class="card-body">
    <p class="card-title">Beast</p>
  </div>
</div>
</button>
    </div>
    <div class="coloumn">
        <button (click)="beast2()">
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="./assets/songs.images/beast2.jpg" alt="Card image cap" class="float-right" style="height: 180px;">
  <div class="card-body">
    <p class="card-text">Theme song from Beast</p>
  </div>
</div>
        </button>
</div> 
<div class="coloumn">
    <button (click)="vikram1()">
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="./assets/songs.images/vikram1.jpg" alt="Card image cap" class="float-right" style="height: 180px;">
  <div class="card-body">
    <p class="card-text">Vikram</p>
  </div>
</div>
    </button>
</div>
<div class="coloumn">
    <button (click)="dharbhaar1()">
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="./assets/songs.images/dharbhaar1.jpg" alt="Card image cap" class="float-right" style="height: 180px;">
    <div class="card-body">
      <p class="card-text">Vikram</p>
    </div>
  </div>
    </button>
</div>
<i href="#" style="color:aliceblue;cursor: pointer;">View More...</i><hr>
<div class="coloumn">
    <button (click)="valimai1()">
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="./assets/songs.images/valimai1.jpg" alt="Card image cap" class="float-right" style="height: 180px;">
    <div class="card-body">
      <p class="card-text">Vikram</p>
    </div>
  </div>
    </button>
</div>
<div class="coloumn">
    <button (click)="dharbhaar2()">
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="./assets/songs.images/dharbhaar2.jpg" alt="Card image cap" class="float-right" style="height: 180px;">
    <div class="card-body">
      <p class="card-text">Vikram</p>
    </div>
  </div>
    </button>
</div>
<div class="coloumn">
    <button (click)="dhuruv1()">
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="./assets/songs.images/dhuruv1.jpg" alt="Card image cap" class="float-right" style="height: 180px;">
    <div class="card-body">
      <p class="card-text">Vikram</p>
    </div>
  </div>
    </button>
</div>
<div class="coloumn">
    <button (click)="asuran1()">
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="./assets/songs.images/asuran1.jpg" alt="Card image cap" class="float-right" style="height: 180px;">
    <div class="card-body">
      <p class="card-text">Vikram</p>
    </div>
  </div>
    </button>
</div>
<i href="#" style="color:aliceblue;cursor: pointer;">View More...</i><hr>
<div class="coloumn">
    <button (click)="master1()">
    <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="./assets/songs.images/master1.jpg" alt="Card image cap" class="float-right" style="height: 180px;">
    <div class="card-body">
      <p class="card-text">Vikram</p>
    </div>
  </div>
    </button>
</div>
<div class="coloumn">
    <button (click)="don1()">
    <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="./assets/songs.images/don1.jpg" alt="Card image cap" class="float-right" style="height: 180px;">
    <div class="card-body">
      <p class="card-text">Vikram</p>
    </div>
  </div>
    </button>
</div>
<div class="coloumn">
    <button (click)="theri1()">
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="./assets/songs.images/theri1.jpg" alt="Card image cap" class="float-right" style="height: 180px;">
    <div class="card-body">
      <p class="card-text">Vikram</p>
    </div>
  </div>
    </button>
</div>
<div class="coloumn">
    <button (click)="scam1()">
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="./assets/songs.images/scam1.jpg" alt="Card image cap" class="float-right" style="height: 180px;">
    <div class="card-body">
      <p class="card-text">Vikram</p>
    </div>
  </div>
  </button>
</div>
<i href="#" style="color:aliceblue;cursor: pointer;">View More...</i><hr>
